<div class="overlay"></div>

<top-bar></top-bar>

<section>
    <aside id="leftsidebar" class="sidebar">
        <sidebar-user-area (changePasswordEvent)="changePassword()"></sidebar-user-area>
        <sidebar-nav></sidebar-nav>
        <sidebar-footer></sidebar-footer>
    </aside>

    <right-sidebar></right-sidebar>
</section>

<section class="content">
    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
</section>

<change-password-modal #changePasswordModal (modalSave)="refresh()"></change-password-modal>
